<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload files</title>
</head>
<body>
    <form action="/uploadFiles" method="POST" encType="multipart/form-data">
        <input type="file" name="file" id="files">
        <input type="submit">Send file</input>
    </form>
</body>
</html>